* {

    font-size: 1, 5rem;
    /* 1 REM=16PX*/
    font-family: 'Poppins', sans-serif;

}

body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.arthur {
    color: blueviolet;

}

#arthur {
    color: aqua;

}

.login {
    color: royalblue;
    cursor: pointer;
}



.enviar {
    cursor: pointer;
    background-color: red;
    text-align: center;
    height: 50px;
}